<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Collection</title>
</head>
<body>
    <main>
        <% searchResults.forEach( book => { %>
          <article>
            <img src="<%= book.image_url %>">
            <h3><%= book.title %></h3>
            <h4><%= book.author %></h4>
            <p><%= book.description %></p>
            <form action="/add" method="post">
              <button type="submit" name="addToDatabase">Add to Database</button>
            </form>
          </article>
        <% }) %>
    </main>
</body>
</html>