
body{
    box-sizing: border-box;
    background-color: salmon;
}
main{
    display: grid;
    grid-template-columns: auto;
    height: 500px;
}
header{
    text-align: center;
}
form{
    margin: 0;
}
h4{
    text-align: center;
}
input{
    width: 100%;
}
.grid-item{
    margin: 0;
    width: 90%;
    height: 30px;
    padding: 0;
    border: 0;
}
fieldset{
    padding: 0;
    margin: 0;
    border: 0;
}